body header{
    color: #FFFFFF; 
    background-color: darkred;
    padding: 15px;
}

body footer{
    color: #FFFFFF;
    background-color: darkred;
    padding: 8px;
}

body header a,body footer a {
    font-weight: bold;
    color: #ffffff;
}

body header a:hover, body footer a:hover{
    color:#0000ff;
}

body main ul li p{
    font-weight: bold;
}