body header{
    color: #FFFFFF; 
    background-color: darkred;
    padding: 15px;
}

body footer{
    color: #FFFFFF;
    background-color: darkred;
    padding: 8px;
}

body header a{
    color: #ffffff;
}

body header a.hover{
    color:#0000ff;
}