{% extends 'base.html' %}
{% block main %}
<div class="addAssignment center-block">
    <h2>Add Course</h2>
    <form action="" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.courseName.label }}
        {{ form.courseName(class='form-control', placeholder="Enter the Course Name") }}
      </div>
      <div class="form-group">
        {{ form.courseLevel.label }}
        {{ form.courseLevel(class='form-control', placeholder="Select the course Level") }}
      </div>
      <div class="form-group">
        {{ form.studentIDs.label }}
        {{ form.studentIDs(class='form-control', placeholder="S0, S1, S2, S3") }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    <p>{{message}}</p>
  </div>
{% endblock main %}    