{% extends 'base.html' %}
{% block main %}
<div class="addAssignment center-block">
    <h2>Add User</h2>
    <form action="" method="post">    
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.userChoice.label }}
        {{ form.userChoice(class='form-control', placeholder="Enter your Assignment") }}
      </div>     
      <div class="form-group">
        {{ form.firstName.label }}
        {{ form.firstName(class='form-control', placeholder="Enter your first name") }}
      </div>
      <div class="form-group">
        {{ form.lastName.label }}
        {{ form.lastName(class='form-control', placeholder="Enter your last name") }}
      </div>
      <div class="form-group">
        {{ form.birthday.label }}
        {{ form.birthday(class='form-control', placeholder="Enter your birthday") }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class='form-control', placeholder="Enter your password") }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    <p>{{message}}</p>
  </div>
{% endblock main %}