<h2>
    {{course_name}}
</h2>
<h3>
    Calender Events
    {% if calender == [] %}
        <p>There is no thing to see here</p>
    {% else %}
    <ul>
        {% for event in calender: %}      
            <a href="{{url_for('calenderPage', calender = calender)}}"><li>{{ event['Name'] }}</li></a>
        {% endfor %}  
    </ul>
    {% endif %}
</h3>
<h3>
    Assignments
    {% if assignments == [] %} 
        <p>There is no thing to see here</p>
    {% else %}
    <ul>
        {% for assignment in assignments: %}   
            <a href="{{url_for('assingmentPage', assignment = assignment)}}"><li>{{ assignment['Name'] }}</li></a>
        {% endfor %}
    </ul>
    {% endif %}
</h3>
