<div class="container">
    <h1>MyVLE</h1>
    <nav>
        <ul>
            <li><a href ="{{ url_for('homePage')}}">Home</a></li>
            {% if session['type'] == "Admin": %}<li><a href ="{{ url_for('addUserPage')}}">Users</a></li>{% endif %}
            {% if session['type'] == "Admin": %}<li><a href ="{{ url_for('addCoursePage')}}">Courses</a></li>{% endif %}
            {% if session['type'] != "Student": %}<li><a href ="{{ url_for('reportsPage')}}">Reports</a></li>{% endif %}
        </ul>
    </nav>
    {% if session.get('logged_in') == True: %}
        <p>Welcome {{session['user']}}</p>
    {% endif %}
</div>