{% extends 'base.html' %}
{% block main %}
    <ul>
        {% if session.get('logged_in') == True: %}
            {% for course in courses %}
            <li><a href="{{ url_for('coursePage', course_id = course['Course ID'], course_name = course['Course Name']) }}">{{ course['Course Name'] }}</a></li>
            {% endfor %}
        {% else %}
                {% for course in courses %}
                <li>{{ course['Course Name'] }}</li>
                {% endfor %} 
        {% endif %}
    </ul>
{% endblock main %}